@import url(media/JetBrainsMono-Regular.woff2);
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes updown {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-1rem); 
    }
    100% {
        transform: translateY(0); 
    }
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf") format("truetype");
}

* {
    animation: appear 1.5s ease-in-out forwards;
    font-family: "JetBrainsMono";
    box-sizing: border-box;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
    font-family: "JetBrains Mono Regular";
    font-family: 400;
    scroll-behavior: smooth;
    background-color: #161618;
    margin: 0 0;
    padding: 0 0;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.init {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    align-content: center;
    background-color: rgb(255, 255, 255);
    background-attachment: fixed;
    background-image: url(media/mountains.jpg);
}

.container-text-init {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%; /* Adjust as needed */
    margin: 0 auto;
}

.container-text-init>h1 {
    font-size: 22pt;
    /* Remove padding-left */
    text-align: center; /* Center the text */
}

.container-text-init>p {
    font-size: 11pt;
    text-align: center;
    color: #e6e6e6;
    width: 30%;
    padding: 1rem;
    background-color: rgba(51, 51, 51, 0.7);
    border-radius: 2rem;
}

.arrow {
    width: 10%;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
    margin-top: 40%;
    animation: appear 4s ease-in-out forwards;
    position: absolute;
    margin-top: 1rem;
}

.arrow {
    animation: updown 2s 2s infinite;
}

nav {
    top: 1rem;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: rgba(115, 115, 115, 0.7);
    margin: 0 auto;
    margin-top: 1%;
    position: sticky;
    z-index: 99;
    padding: 0.5%;
    border-radius: 2rem;
    margin-bottom: 10rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* Display items horizontally */
    justify-content: space-between;
}

nav ul li {
    padding: 0 1%;
}

nav ul li a:hover {
    transition: ease-in 0.15s;
    filter: invert(1);
}

nav a {
    text-decoration: none;
}

nav ul li img {
    height: 3rem;
    padding: 0 5rem;
}

.timeline-sec {
    background-color: #161618;
    height: 100vh;
    z-index: 2;
}

.timeline {
    position: relative;
    max-width: 100rem;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #ff9f55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    .timeline .container {
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }

    .timeline .container:last-child {
        position: relative;
        left: 0;
        top: 0;
    }

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 90%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

.skills {
    background-color: #212124;
    height: 100vh;
    z-index: 999;
    margin: 0 auto;
}

.grid-container {
    padding-top: 10%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3,25rem);
    grid-gap: 2%;
    justify-content: center;
}

.grid-item {
    width: 7.5rem;
    height: 7.5rem;
    /* Adjusted height of grid items */
    border: dashed rgba(149, 149, 149, 0.35) 3px;
    border-radius: 1rem;
    text-align: center;
    overflow: hidden;
    z-index: 1;
}

.content-grid {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: none;
    z-index: 999;
}

#java {
    width: 6.5rem;
}

#python {
    width: 5.5rem;
    padding-top: 0.7rem;
}

#html {
    width: 7rem;
    padding-top: 0.2rem;
    filter: invert(1);
}

#css {
    width: 8.6rem;
    padding-right: 1.5rem;
    filter: invert(1);
}

#linux {
    width: 6rem;
    padding-top: 0.5rem;
    filter: contrast(10);
}

#plsql {
    width: 6.5rem;
    padding-top: 1.7rem;
    filter: brightness(0) invert(1);
}

#github {
    width: 6rem;
    padding-top: 0.5rem;
    filter: invert(1);
}

#metasploit {
    width: 6.2rem;
    padding-top: 0.6rem;
    filter: brightness(0) invert(1);
}

#htb {
    width: 6rem;
    padding-top: 0.7rem;
    filter: invert(1);
}

.contact {
    background-color: #818181;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactame {
    padding: 3rem;
    position: absolute;
}

.email{
    margin-top: 30rem;
    border: solid 1px #a9a9a9;
    padding: 1rem 2rem;
    background-color: rgb(66, 66, 66, 0.6);
}

.boton {
    padding: 3rem;
    width: 25rem;
    border-radius: 2rem;
    color: white;
    background-color: #6db5fc;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transfrom;
    transition-property: box-shadow, transform;
}

.boton:hover,
.boton:focus,
.boton:active {
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.rrss {
    display: flex;
    justify-content: center;
    margin-top: 60rem;
    position: absolute;
    padding: auto 0;
}

.rrss>h1 {
    font-size: 4rem;
    margin: 0 1rem;
}

.gh-rrss {
    width: 4.4rem;
    margin: 0 1rem;
}

.ln-rrss {
    width: 4.4rem;
    margin: 0 1rem;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .img-background {
        height: 100vh;
    }

    .init {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        min-height: 100vh;
    }

    .container-text-init {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container-text-init>h1 {
        padding-top: 2rem;
        text-align: center;
    }

    .container-text-init>p {
        margin-top: 2rem;
        padding: 1rem;
        background-color: hsla(0, 1%, 17%, 0.7);
        color: #e6e6e6;
        text-align: center;
        width: 90%;     
        margin-bottom: 20rem;
    }

    .arrow {
        width: 35%;
        align-self: center;
        margin-top: 20rem;
    }

    nav {
        width: 77.5%;
        position: sticky;
        margin: 1rem 1rem;
        margin-left: 4.5rem;
    }

    nav ul {
        flex-direction: row;
        align-items: center;
    }

    nav ul li img {
        padding-left: 2rem;
        padding-right: 2rem;
        height: 2.5rem;
    }
    .grid-container {
        grid-template-columns: repeat(2, 10rem); /* Cambia a dos columnas */
        grid-gap: 5%; /* Aumenta el espacio entre los elementos */
    }

    .grid-item {
        width: 7.5rem; /* Ajusta el ancho de los elementos */
        height: 7.5rem; /* Ajusta la altura de los elementos */
        border-width: 2px; /* Ajusta el grosor del borde */
    }

}